.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #1976d2;
}

.footer .dataSourceImage img{
    height: 4em;
}

.footer p{
    margin-bottom: 0;
}